ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
KAFKA_JMX_PORT=9101
KAFKA_LOG_RETENTION_MS=60000
KAFKA_LOG4J_LOGGERS=kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO
KAFKA_CLUSTERS_0_NAME=DevEnv
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=broker:29092
KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181
GF_PATHS_DATA=/var/lib/grafana
GF_SECURITY_ADMIN_PASSWORD=your_password
KAFKA_BOOTSTRAP_SERVERS=broker:29092
KAFKA_PRODUCER_DELAY_MS=5000
CONFIG_YML=/etc/jmx_exporter/config.yml
CLICKHOUSE_ENDPOINT=http://127.0.0.1:8124
CLICKHOUSE_USERNAME=your_username
REDIS_URL=redis://your_username:your_password@localhost:6379
